{% extends 'base_private.html' %}

{% block content %}

<h1 class="title" align="center" style="width: 100%;">Наш дата-центр предоставляет следующие услуги:</h1>

<div class="toggle" style="margin: auto; float: none; width: 270px;">

    <!--div class="toggle-item">
        <a href="/account/rack/" class="toggle-head"><i></i>Аренда серверных стоек</a>
    </div>
    
    <div class="toggle-item">
        <a href="/account/colocation/" class="toggle-head"><i></i>Размещение серверов</a>
    </div>

    <div class="toggle-item">
        <a href="/account/dedicated/" class="toggle-head"><i></i>Аренда сервера</a>
    </div>

    <div class="toggle-item">
        <a href="/account/vds/" class="toggle-head"><i></i>Виртуальные сервера</a>
    </div-->


	 <div class="toggle-item">
        <a href="/account/virtual_servers_1C/" class="toggle-head"><i></i>Виртуальные сервера 1C</a>
    </div>
</div>
   
{% endblock %}