{% extends 'base_private.html' %}
{% block extrahead %}
    {{ block.super }}
    <link href="{{ MEDIA_URL }}css/modal.css" rel="stylesheet" type="text/css" />
	{% comment %}
	<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.ui.labeledslider.css">
	<script src="{{ MEDIA_URL }}js/jquery.ui.labeledslider.js"></script>
    {% endcomment %}
{% endblock %}
{% block content %}
 
<style type="text/css">
.tab-control { /*Основной блок*/
	  border : none;
		  width : 95%;           
		  padding : 0px;
}

.tab-header { /*Заголовки*/
	  font-size : 14px;
	  text-align: center;
	  color: #FFF;
	  font-size: 14px;
	  border : none;
          width : 100%;
          height: 20px;
          margin : 0px;         
          padding : 0px; 
}

.tab-header > div { /*Отдельный заголовок*/
          border-left : 1px solid #ddd; 
          border-radius:10px 10px 0px 0;  
	  background-color : #FF9521;
          height: 20px;
          padding : 5px;
          margin-right : 2px; 
          float : left;
          cursor : pointer; 
		  width: 140px;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
}

.tab-header > div:hover { /*Текущий заголовок*/
		  margin-top: -15px; 
		  height: 35px;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
}

.tab-body { /*Содержимое закладок*/
	  border : none;
          width : 100%;       
          margin : 0px;         
          padding : 0px;
          clear : both; 
}

.tab-body > div { /*Содержимое отдельной закладки*/
          border-bottom : 1px solid #ddd; 
          border-left : 1px solid #ddd; 
          border-radius:0 5px 5px 5px;  
	  background-color : #FF9521;
          display : none;
          overflow: auto; /*Прокрутка запрещена, если она нужна, то следует поставить значение auto*/
          width : 100%;
          height: 100%;         
          padding : 1px;
}

.t-spec{
	font-weight:bolder!important;}

#hidden_server_id{
	display:none;}

.hidden_soft_line{
	display:none;}

.visible_soft_line{
	display:table-row;}
</style>
 
<script type="text/javascript">
function OnClick(tabhid){
	 //Получение заголовка по id
	 var tabh = document.getElementById(tabhid);
	
	 if (tabh==null)
		 return;
	 
	 //Ссылка на элемент tab-header
	 var tabheader=tabh.parentNode;
	
	 if (tabheader==null)
		 return;
	 
	 //Получаем все заголовки
	 var tabhs;
	 tabhs = SelectChildren(tabheader,'div');
	
	 if (tabhs.length == 0)
		 return;
	 
	 //Изменяем стиль ранее выбранного заголовка
	 for(var i = 0; i < tabhs.length; i++)
		 if (tabh.style.backgroundColor = '#eee')
			tabhs[i].style.backgroundColor = '#2884ea';
	 
	 //Изменяем стиль выбранного заголовка
	 tabh.style.backgroundColor = '#FF9521';
	
	 var tabcontrol;
	 
	 //Получаем ссылку на весь элемент tab-control
	 try {
		 tabcontrol = tabheader.parentNode;
	 } catch (ex)
	 {
		 return;
	 }
	
	 var tabbody;
	 
	 //Получаем ссылку на раздел содержимого закладок
	 try {
		 tabbody = tabcontrol.getElementsByClassName('tab-body')[0];
	 } catch (ex)
	 {
		 return;
	 }
	 
	 //Получаем все элементы содержимого закладок
	 var tabs;
	 tabs = SelectChildren(tabbody,'div');
	
	 if (tabs.length == 0)
		 return;
	
	 //Получаем содержимое выбранной закладки по ее id, сформированному по id заголовка
	 var selectedtab= document.getElementById('b'+tabh.id);
	
	 if (selectedtab==null)
		 return; 
	
	 //Скрываем содержимое ранее выбранной закладки
	 for(var i = 0; i < tabs.length; i++)
		 if (tabs[i].style.display == 'block')
			tabs[i].style.display = 'none';
	
	 //Показываем содержимое выбранной закладки
	 selectedtab.style.display = 'block';
	}
	
	/*Функция выбора дочерних элементов по имени тэга*/
	function SelectChildren(node, childname)
	{
	 var result = [];
	
	 for(var i = 0; i < node.childNodes.length; i++)
		{
		 var child = node.childNodes[i];
		 if (child.nodeType==1) //Элемент
			if (child.tagName.toLowerCase()==childname.toLowerCase())
			   result.push(child); 
		}
	
	 return result; 
	}
	
	
	
	/*
	function step_zakaz(id)
	{
		$.ajax({
                url: "/dedicated/step_zakaz/True/"+id+"/",
                cache: false,
				async: false,
				  
                success: function(html){
 					
                    $("#id_popup").html(html);
					  
                }  
            });
	}
	*/
	
	
	function step_zakaz(id)
	{	
		
		
		//смотрим какие checkbox отмечены и сколько человек выбрано и передаем на сервак POST
		//массив для id software
		list_software = [];
		
		
		
		$("#software_table .software_input").each(function () {
			if ($(this).is(':checked') == true)
				{
					list_software[list_software.length] = ($(this).val()).toString();
					
				}
		})
		
		window.location= "#zakaz";
		//alert(list_software);
		user_count_id = $('#user_count :selected').val();
		//alert(user_count_id);
		software_str = list_software.join('-');
		//alert(software_str);
		
		$.ajax({
                url: "/virtual_server/step_zakaz/True/"+id+"/",
                cache: false,
				async: false,
				type: "POST",
				data: {list_software:software_str, user_count_id:user_count_id},
                success: function(html){
 					//alert(html);
                    $("#id_popup").html(html);
					  
                }  
            });
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

	{% comment %}
	function step_zakaz_config()
	{
		count_hdd = $("#hdd").text();
		count_ssd = $("#ssd").text();
		if ((count_hdd==0) && (count_ssd==0))
			{alert('bad');}
		else {
			cpu_id = labels_id_cpu[$.inArray($("#cpu").text(), labels_cpu)]
			count_ram = $("#ram").text();
			get = '?cpu_id=' + cpu_id + '&count_ram=' + count_ram + '&count_hdd=' + count_hdd + '&count_ssd=' + count_ssd;
			$.ajax({
					url: "/dedicated/step_conf/True/"+get,
					cache: false,
					async: false,
					  
					success: function(html){
						
						$("#id_popup").html(html);
						  
					}  
				});
		    }
	}
	{% endcomment %}
	
	
	function change_count_ip(value) {
		count_ip = document.getElementById("count_ip").value;
		if (value == '-') {
			if (Number(count_ip) > 1) {
				count_ip = Number(count_ip) - 1;
			}
			
		}
		if (value == '+') {
			if (Number(count_ip) < 4) {
				count_ip = Number(count_ip) + 1;
			}
		}
		document.getElementById("count_ip").value = count_ip;
	}
	
	
	function change_type_inet(server_id) {
		

		$.ajax({
					
				  	url: "/virtual_server/change_type_inet/"+document.getElementById("type_inet").value+"/",
					beforeSend: function () 
					{
						$("#range_speed").find('option').remove();
					},
					complete: function(html)
					{	

						var id_plus_speed = html.responseText;
						id_plus_speed = id_plus_speed.split('_');
						spis_id = id_plus_speed[0].split(', ');
						speed = id_plus_speed[1].split(', ');
						select_obj = document.getElementById("range_speed");
						for (var i=0; i < spis_id.length; i++) {
							select_obj.options[select_obj.options.length] = new Option(speed[i], spis_id[i]);
						}
						dedicated_cost(server_id);
					}, 
			
			  })
	}
	
	
	function dedicated_cost(server_id) {
		var get = "?";
		get += "count_ip=" + document.getElementById('count_ip').value;
		get += "&speed_inet=" + document.getElementById("range_speed").value;
		
		$.ajax({
		url: "/dedicated/cost_calculation/"+server_id+"/"+get,
		cache: false,
		async: false,
		  
		success: function(cost){
					document.getElementById("cost").innerHTML = cost;
		} 
		});
	}
	
	/*what is*/
	function virtual_server_step_auth(server_id)
	{
		get = "?server_id=" + server_id;
		get += "&count_ip=" + document.getElementById('count_ip').value;
		get += "&speed_inet=" + document.getElementById("range_speed").value;
		get += "&software_ids=" + document.getElementById('hidden_software_list').innerHTML;
		document.getElementById('dedicated_zakaz').action = '/virtual_server/step_auth/True/' + get;
		document.getElementById('dedicated_zakaz').submit();
	}
	
	
	
	
	
	function step_final_virtual_server(req)
	{
		var str = $("#form_auth").serialize();
		$.ajax({
                url: "/virtual_server/step_"+req+"/?"+str,
                cache: false,
				async: false,
				  
                success: function(html){
 					
                    $("#id_popup").html(html);
					  
                }  
            });
	}
	
	{% comment %}
	function step_auth_conf(cpu_id, count_ram, count_hdd, count_ssd)
	{
		count_ip = document.getElementById('count_ip').value;
		get = '?cpu_id='+cpu_id+'&count_ram='+count_ram+'&count_hdd='+count_hdd+'&count_ssd='+count_ssd+'&count_ip='+count_ip;
		document.getElementById('dedicated_zakaz').action = '/dedicated/step_auth/True/'+get;
		document.getElementById('dedicated_zakaz').submit();
	}
	{% endcomment %}
		
		
</script>

<h1 class="title"> Аренда выделенного физического сервера (dedicated)</h1>
<!-- <form></form>

<font color="black">
<div>
<table border="0">
<tr>
<td>
 <style type="text/css">
TD
{
 border-top: 1px solid #DFDFDF; /* Параметры рамки вокруг ячеек таблицы */
 border-right: none;
 border-left: none;
}

</style>

{% for i in serv %}
<font color="black">
<table align="left" style="width: 295px; margin-left: 20px;" id="round">
	
		<tr>
			<th width="120" scope="col"><div align="center"><strong>Характеристики</strong></div></th> 
		    <th style="border-left:1px solid #DFDFDF;"align="center" scope="col"><div align="center"><font size="3" color="#0093D9"><strong> {{ i.tarif }}	</strong></font></div></th>
		</tr>
	
	<tbody>
		<tr>
			<td>Процессор				</td>
			<td style="border-left:1px solid #DFDFDF;">{{ i.cpu }}
		  </td>
		</tr>
		<tr>
			<td>Опер. память 
				</td>
			<td style="border-left:1px solid #DFDFDF;">{{ i.ram }}
				</td>
		</tr>
		<tr>
			<td>Жесткий диск 
				</td>
			<td style="border-left:1px solid #DFDFDF;">{{ i.hdd }}
				</td>
		</tr>
		<tr>
			<td>Высота сервера
				</td>
			<td style="border-left:1px solid #DFDFDF;">{{ i.unit }}
				</td>
		</tr>
		<tr>
			<td>Электропитание
				</td>
			<td style="border-left:1px solid #DFDFDF;">{{ i.electro }}
				</td>
		</tr>
		<tr>
			<td >Стоимость <em>руб.</em>			  </td>
			<td style="border-left:1px solid #DFDFDF;">{{ i.cost }}
		  </td>
		</tr>
		<tr>
			<td colspan="2" scope="col" style="text-align: center; ">
				<em style="text-align: right; white-space: nowrap; "><a href="#zakaz{{ i.id }}"><img alt="" onmousedown=" this.src='/media/jpg/button_sergei_down_vds.png'" onmouseout=" this.src='/media/jpg/button_sergei_vds.png' " onmouseover=" this.src='/media/jpg/button_sergei_over_vds.png' " src="/media/jpg/button_sergei_vds.png" style="border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; margin-left: 7px; margin-right: 7px; margin-top: 3px; margin-bottom: 3px; " /></a></em>
				</td>
		</tr>
	</tbody>
</table>
</font>

  <a href="#" class="overlay" id="zakaz{{ i.id }}"></a>
    <div class="popup">
	<form action="/content/dedicated/send_zakaz/" id="preview{{ i.id }}" method="post">
	<font color="black">
            <h2><font color="blue">Оформление заказа</font></h2>
            <p>Для заказа необходимо заполнить все поля</p>
			<div>
				<label for="usluga"><font color="black">Тип услуги</font></label>
				<font color="blue">Аренда выделенного физического сервера / dedicated</font>
			</div>
			<div>
				<label for="tarif"><font color="black">Тариф</font></label>
				<font color="blue">{{ i.tarif }}</font>
				<input type="hidden" name="tarif" value="{{ i.tarif }}"/>
			</div>
			<div>
				<label for="unit"><font color="black">Кол-во unit`ов</font></label>
				<font color="blue">{{ i.unit }}</font>
				<input type="hidden" name="unit" value="{{ i.unit }}"/>
			</div>
			<div>
				<label for="port"><font color="black">Кол-во портов коммутатора 100 Мбит/сек</font></label>
				<font color="blue">1</font>
			</div>
			<div>
				<label for="unit"><font color="black">Кол-во IP адресов</font></label>
				<font color="blue">1</font>
			</div>
			<div>
				<label for="unit"><font color="black">Кол-во розеток</font></label>
				<font color="blue">1</font>
			</div>
			<div>
				<label for="unit"><font color="black">Электропитание, Вт</font></label>
				<font color="blue">{{ i.electro }}</font>
				<input type="hidden" name="electro" value="{{ i.electro }}"/>
			</div>
			<div>
				<label for="cost"><font color="black">Стоимость услуги</font></label>
				<font color="blue">{{ i.cost }}</font>
				<input type="hidden" name="cost" value="{{ i.cost }}"/>
			</div>
            <font color="#FF0000"><p class="red" id="alert{{ i.id }}"></p></font>
			<div>
  			 <button type="submit">Оформить заказ</button>
			</div>
            <a class="close" href="#close"></a>
			</font>
			</form>
        </div>	
{% endfor %}
</td>
</tr>
<tr>
<td>
<font color="#CCCCCC" size="+1"><p>Вместе с сервером Вы приобретаете следующий пакет услуг:</p></font>
<li>источник питания - 1шт.</li>
<li>порт коммутатора Ethernet 100 Мбит/сек - 1шт.</li>
<li>безлимитный доступ в интернет со скоростью 100 Мбит/сек</li>
<li>неограниченное использование IP-KVM</li>
<li>бесплатная установка операционной системы</li>
<br />
* В стоимость сервера уже входит стоимость размещения сервера в нашем дата-центре<br />
&nbsp Все цены приведены без учёта НДС. На сегодняшний день НДС состоявляет 18%
</td>
</tr>
</table>
</div>
</font>-->

<style>
.val {
	color: #3a7cbd;
}
</style>

<body onLoad="OnClick('tab-01')">
	<div class='tab-control'>
        <div class='tab-header'>
            <div id='tab-01' onclick='OnClick(this.id)'>Всё ПО</div>
            <div id="tab-02" onClick="OnClick(this.id)">Конфигуратор</div>
        </div> 
        
        <div class='tab-body'>
            <div id='btab-01'>
            	
                <table class="t-spec" id = 'software_table'>
	                    <thead>
	                        <tr>
	                            <th>Выбрать</th>
	                            <th>Название ПО</th>
	                            <th>Описание</th>
	                            <th>Стоимость</th>
	                            
	                        </tr>
	                    </thead>
	                    
	                    
	                    <tbody>
						  {% comment %}
							  {% for soft_li in soft_list %}
							  		{% if soft_li.group != None %} <!-- название принадлежит группе -->
							  			{% ifchanged soft_li.group %}
							  			<tr class = 'group_header' group = {{ soft_li.group }} >
						  					<td><input type = "checkbox" onchange = 'sel_group({{soft_li.group}}, this)'> </input></td>
						  					<td width="800">{{ soft_li.group_name }}</td>
						  					<td><a href = "{{ soft_li.url_desc }}" style = "color:black!important">инфо</a></td>
						  					<td></td>
							  			<tr>
							  			{% endifchanged %}
							  			<tr id = {{soft_li.id}} class = 'group_item hidden_soft_line software_list' group = {{ soft_li.group }} >
							  				<td></td>
							  				<td width="800"><input onchange="recount_cost()" class = 'software_input' type = radio value = {{soft_li.id}} name = {{soft_li.group}} > </input>{{ soft_li.tariff.name }}</td>
							  				<td><a href = "{{ soft_li.url_desc }}" style = "color:black!important">инфо</a></td>
							  				<td>{{ soft_li.cost }}</td>
							  			</tr>
							  		{% else %}
							  			<tr id = {{soft_li.id}} class = software_list>
							  				<td><input class = 'software_input' type = "checkbox" value = {{soft_li.id}} onchange="recount_cost()"> </input></td>
							  				<td width="800">{{ soft_li.tariff.name }}</td>
							  				<td><a href = "{{ soft_li.url_desc }}" style = "color:black!important">инфо</a></td>
							  				<td>{{ soft_li.cost }}</td>
							  			</tr>
							  		{% endif %}
							  {% endfor %}
						  {% endcomment %}
						  
						  
						  
						  
						  
						   {% for soft_li in soft_list %}
						  		{% if soft_li.group != None %} <!-- название принадлежит группе -->
						  			{% ifchanged soft_li.group %}
						  			<tr class = 'group_header' group = {{ soft_li.group }} >
					  					<td><input type = "checkbox" onchange = 'sel_group({{soft_li.group}}, this)'> </input></td>
					  					<td width="800">{{ soft_li.group_name }}</td>
					  					<!-- td><a href = "{{ soft_li.url_desc }}" style = "color:black!important">инфо</a></td-->
					  					<td><a  class="bt bt-blue2" onClick="show_software_info({{ soft_li.id }})">инфо</a></td>
					  					<td></td>
						  			<tr>
						  			{% endifchanged %}
						  			<tr id = {{soft_li.id}} class = 'group_item hidden_soft_line software_list' group = {{ soft_li.group }} >
						  				<td></td>
						  				<td width="800"><input onchange="recount_cost()" class = 'software_input' type = radio value = {{soft_li.id}} name = {{soft_li.group}} > </input>{{ soft_li.tariff.name }}</td>
						  				<td></td>
						  				<!-- td><a href = "{{ soft_li.url_desc }}" style = "color:black!important">no инфо</a></td--> <!-- внутри группы не показываем info -->
						  				<td>{{ soft_li.cost }}</td>
						  			</tr>
						  		{% else %}
						  			<tr id = {{soft_li.id}} class = software_list>
						  				<td><input class = 'software_input' type = "checkbox" value = {{soft_li.id}} onchange="recount_cost()"> </input></td>
						  				<td width="800">{{ soft_li.tariff.name }}</td>
						  				<td><a  class="bt bt-blue2" onClick="show_software_info({{ soft_li.id }})">инфо</a></td>
						  				<td>{{ soft_li.cost }}</td>
						  			</tr>
						  		{% endif %}
						  {% endfor %}
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
	                    
	                      {% comment %}
		                      {% for soft_li in soft_list %}	
		                       <tr id = {{soft_li.id}} group={{soft_li.group}} class = "software_list">
		                       	<td><input type = "checkbox" id= "checksoftware_{{soft_li.id}}"  value = {{soft_li.id}} group={{soft_li.group}} onchange="funcheck({{soft_li.id}}, {{soft_li.group}})"></input></td>
		                           <td>{{ soft_li.tariff.name }}</td>
		                           <td><a href = "{{ soft_li.url_desc }}" style = "color:black!important">инфо</a></td>
		                           <td>{{ soft_li.cost }}</td>
		                           <!--td><a href="#zakaz" class="bt bt-blue2" onClick="step_zakaz('{{ server.id }}')">Заказать</a></td-->
		                       </tr>
		                      {% endfor %}
		                  {% endcomment %}
	                    </tbody>
                </table>
                
                
                
               
	            <div>
	            	<p>Количество рабочих мест
	            	<select id = "user_count" >
          					{% for user_count in  user_count_for_software %}
          						<option value = '{{ user_count.id }}'>
          							{{ user_count.user_count_text }}	
          						</option>	
          					{% endfor %}
	                </select>
	            </div>    
            	
                
                
                
                <table class="t-spec" id = 'server_info'>
                    <thead>
                        <tr>
                            <th>Тариф</th>
                            <th>Процессор</th>
                            <th>Память</th>
                            <th>Диск, HDD</th>
                            <th>Диск, SSD</th>
                            <th>Цена, р./мес.</th>
                            
                        </tr>
                    </thead>
                    <tbody id = "server_info_body">
                        {% for server in servers %}
                        <tr>
                            <td>{{ server.tariff }}</td>
                            <td>{{ server.cpu }}</td>
                            <td>{{ server.ram|safe }}</td>
                            <td>{{ server.hdd|safe }}</td>
                            <td>{{ server.ssd|safe }}</td>
                            <td>{{ server.cost }}</td>
                            <!--td><a href="#zakaz" class="bt bt-blue2" onClick="step_zakaz('{{ server_id }}')">Заказать</a></td-->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                 
            <p>Стоимость услуги:<i><all_cost>{{ total_cost }}</all_cost></i>руб.
            
            <br>   
            <a href="#zakaz" class="bt bt-blue2" onClick="step_zakaz('{{ server_id }}')" id = "order_button"	style = "margin-left:45%;">Заказать</a>
            
            </div>
            
            
           
            
            
            
            
            <div id='btab-02'>
		            <div style="background: #FFF; border-radius: 6px">
		            <br />
		                <div class="under-construction" id = "construction" >
		    
		                    <h1 class="title">Конфигуратор</h1>
		                
		                    <p><img src="{{ MEDIA_URL }}images/construction.png" alt=""></p>
		                    <p>Данный раздел находится на реконструкции.</p>
		                
		                </div>
		            <br />
		           </div>
            </div>
            
            
    	</div>
	</div>




{% comment %}
<script>
   $(function() {
	  labels_cpu = []
	  labels_id_cpu = []
	  {% for cpu in cpu_qs %}
	     labels_cpu.push('{{ cpu }}');
	     labels_id_cpu.push('{{ cpu.id }}');
	  {% endfor %}
      $('#slider1').labeledslider({ max: {{ count_cpu }}, 
	  								tickInterval: 1,                 
									slide: function(event, ui) {
									$('#cpu').text(labels_cpu[ui.value]);
									divs = $('#td_cpu').find('.ui-slider-label-ticks');
									span = $(divs).find("span");
									span.css('background-image', 'url(/media/images/processor_blue.png)');
									divs = $('#td_cpu').find('.ui-slider-label-ticks').get(ui.value);
									span = $(divs).find("span");
									span.css('background-image', 'url(/media/images/processor_orange.png)');
									 }, 
								});
	  div = $('#td_cpu').find('.ui-slider-label-ticks').get(0);
	  span = $(div).find("span");
	  span.css('background-image', 'url(/media/images/processor_orange.png)');
  	  $('span').text("");
	  for (var i = 0; i < labels_cpu.length; i++) {
			divs = $('#td_cpu').find('.ui-slider-label-ticks').get(i);
			span = $(divs).find("span");
			$(span).attr('title', labels_cpu[i]);
		}		
		$('#cpu').text(labels_cpu[0]);
	  divs = $('#td_cpu').find('.ui-slider-label-ticks');
	  span = $(divs).find("span");
	  span.click(function() {
				len = labels_cpu.length - 1;
				index = $.inArray($(this).attr('title'), labels_cpu);
				pos_left = 100 / len * index
				polz = $('#slider1').find('a');
				polz.css('left', pos_left + '%')
				$('#cpu').text($(this).attr('title'));
				divs = $('#td_cpu').find('.ui-slider-label-ticks');
				span = $(divs).find("span");
				span.css('background-image', 'url(/media/images/processor_blue.png)');
				divs = $('#td_cpu').find('.ui-slider-label-ticks').get(index);
				span = $(divs).find("span");
				span.css('background-image', 'url(/media/images/processor_orange.png)');
				});
	  /*****************************************************************************/
	  /*****************************************************************************/
      labels_ram = ['1024', '2048', '4096', '6144', '8192', '12228', '16384'];
	  $('#slider2').labeledslider({ max: labels_ram.length - 1,
									step: 1,
									tickLabels: labels_ram,
									slide: function(event, ui) {
											$('#ram').text(labels_ram[ui.value]);
											divs = $('#td_ram').find('.ui-slider-label-ticks');
											span = $(divs).find("span");
											span.css('color', '#2884ea');
											divs = $('#td_ram').find('.ui-slider-label-ticks').get(ui.value);
											span = $(divs).find("span");
											span.css('color', 'rgb(255, 149, 33)');
											 },	
								 });
  	  div = $('#td_ram').find('.ui-slider-label-ticks').get(0);
	  span = $(div).find("span");
	  span.css('color', 'rgb(255, 149, 33)');
	  $('#ram').text(labels_ram[0]);
	  
	  divs = $('#td_ram').find('.ui-slider-label-ticks');
	  span = $(divs).find("span");
	  span.click(function() {
				len = labels_ram.length - 1;
				pos_left = 100 / len * labels_ram.indexOf($(this).text())
				polz = $('#slider2').find('a');
				polz.css('left', pos_left + '%')
				$('#ram').text($(this).text());
				divs = $('#td_ram').find('.ui-slider-label-ticks');
				span = $(divs).find("span");
				span.css('color', '#2884ea');
				divs = $('#td_ram').find('.ui-slider-label-ticks').get(labels_ram.indexOf($(this).text()));
				span = $(divs).find("span");
				span.css('color', 'rgb(255, 149, 33)');
				});
	  /*****************************************************************************/
	  /*****************************************************************************/
      labels_hdd = ['0', '512', '1024', '1536', '2048'];
	  $('#slider3').labeledslider({ max: labels_hdd.length - 1,
									step: 1,
									tickLabels: labels_hdd,
									slide: function(event, ui) {
											$('#hdd').text(labels_hdd[ui.value]);
											divs = $('#td_hdd').find('.ui-slider-label-ticks');
											span = $(divs).find("span");
											span.css('color', '#2884ea');
											divs = $('#td_hdd').find('.ui-slider-label-ticks').get(ui.value);
											span = $(divs).find("span");
											span.css('color', 'rgb(255, 149, 33)');
											 },	
								 });
  	  div = $('#td_hdd').find('.ui-slider-label-ticks').get(1);
	  span = $(div).find("span");
	  span.css('color', 'rgb(255, 149, 33)');	 
	  $('#hdd').text(labels_hdd[1]);
	  $("#slider3").append("<p class='marker_text'>HDD</p>");
	  
	  divs = $('#td_hdd').find('.ui-slider-label-ticks');
	  span = $(divs).find("span");
	  span.click(function() {
				len = labels_hdd.length - 1;
				pos_left = 100 / len * labels_hdd.indexOf($(this).text())
				polz = $('#slider3').find('a');
				polz.css('left', pos_left + '%')
				$('#hdd').text($(this).text());
				divs = $('#td_hdd').find('.ui-slider-label-ticks');
				span = $(divs).find("span");
				span.css('color', '#2884ea');
				divs = $('#td_hdd').find('.ui-slider-label-ticks').get(labels_hdd.indexOf($(this).text()));
				span = $(divs).find("span");
				span.css('color', 'rgb(255, 149, 33)');
				});
	  /*****************************************************************************/
	  /*****************************************************************************/
      labels_sdd = ['0', '64', '128', '256', '512'];
	  $('#slider4').labeledslider({ max: labels_sdd.length - 1,
									step: 1,
									tickLabels: labels_sdd,
									slide: function(event, ui) {
										$('#ssd').text(labels_sdd[ui.value]);
										divs = $('#td_ssd').find('.ui-slider-label-ticks');
										span = $(divs).find("span");
										span.css('color', '#2884ea');
										divs = $('#td_ssd').find('.ui-slider-label-ticks').get(ui.value);
										span = $(divs).find("span");
										span.css('color', 'rgb(255, 149, 33)');
										 },	
							 });
  	  div = $('#td_ssd').find('.ui-slider-label-ticks').get(0);
	  span = $(div).find("span");
	  span.css('color', 'rgb(255, 149, 33)');
	  $("#slider4").append("<p class='marker_text'>SSD</p>"); 	
	  $('#ssd').text(labels_sdd[0]);
	  
	  divs = $('#td_ssd').find('.ui-slider-label-ticks');
	  span = $(divs).find("span");
	  span.click(function() {
				len = labels_sdd.length - 1;
				pos_left = 100 / len * labels_sdd.indexOf($(this).text())
				polz = $('#slider4').find('a');
				polz.css('left', pos_left + '%')
				$('#ssd').text($(this).text());
				divs = $('#td_ssd').find('.ui-slider-label-ticks');
				span = $(divs).find("span");
				span.css('color', '#2884ea');
				divs = $('#td_ssd').find('.ui-slider-label-ticks').get(labels_sdd.indexOf($(this).text()));
				span = $(divs).find("span");
				span.css('color', 'rgb(255, 149, 33)');
				});
   });
</script>
{% endcomment %}


<a href="#" class="overlay" id="zakaz"></a>
    <div class="popup_personal" style="min-width: 400px;">
        <a class="popup_personal-close" href="#close"></a>
        <div id="id_popup">
        </div>
    </div>

<a href="#" class="overlay" id="software_info"></a>
    <div  class="popup_personal" style="min-width: 400px;">
        <a class="popup_personal-close" href="#close"></a>
        <div id="id_popup_info" style = "width:950px; height:560px; margin-right:30px; overflow:auto;">
        </div>
    </div>	







</body>
<script>
//====================================================================================================================================================	
function sel_group(group, check_box_elem){
	//alert(group);
	$(".group_item").each(function()
		{
		
		
			if ($(check_box_elem).is(':checked')){     //флажок есть
				//alert($(this).attr('group'));
				if  ($(this).attr('group') == group)
						{$(this).addClass('visible_soft_line').removeClass('hidden_soft_line');}
				}
			
			else {  //флажка нет
					if  ($(this).attr('group') == group)
					{	$(this).addClass('hidden_soft_line').removeClass('visible_soft_line');
						$(this).find("input[type='radio']").attr('checked', false);
					}
				}
			
		
		
		}	
	
	
	)
	//пересчет стоимости
	recount_cost();		
	
}
	
	
	
	
	
	
	
	
	
	
	
	
//====================================================================================================================================================
$('#user_count').bind('change', user_count_change);
function user_count_change(){
	//alert('234')
	user_count_id = $('#user_count :selected').val();
	//alert(user_count_id);
	//теперь вернем ajax из базы нужное инфо
	
	$.ajax({
		url: "/virtual_server/get_info/",
		type: "POST",
		data: {'user_count_id' : user_count_id},
		cash: false,
		async: false,
		success: function(html){
			//удалеям старые данные
			$('#server_info_body').html('');
			$('#server_info_body').html(html);
			
			//обновляем кнопку заказать
			new_server_id = $('#hidden_server_id').text();
			attr_to_change = 'step_zakaz('  + "'"   +  new_server_id  +  "'" +    ')'
			$('#order_button').attr('onClick', attr_to_change );
			
			//выполняем пересчет данных
			recount_cost();
		}
	});
		
	
	
	
}
//====================================================================================================================================================
function recount_cost(){
	//alert('in recount');
	//кол-во пользвователей
	user_count_id = $('#user_count :selected').val();
	software_string = ''
	//теперь собрать все выбранные пункты по ПО
	$("#software_table .software_input").each(function () {
			if ($(this).is(':checked') == true)
				{

					software_string = software_string + ($(this).val()).toString()+ ',';
				}
		})

	//считаем стомость на сервере
	$.ajax({
		url:'/virtual_server/recount_cost/',
		type: 'POST',
		cash: false,
		asyc: true,
		data: {'user_count_id': user_count_id, 'software_string':software_string},
		success:function(html){
			$('all_cost').html(html);
		}
		
	})
		
		
}
	
//====================================================================================================================================================	
function show_software_info(soft_id){
	alert(soft_id);
	//берем из базы ajax шаблон и показываем его
	url = '/virtual_server/ajax_software_get_template_info/' + soft_id +'/';
	//alert(url);
	
	window.location= "#software_info";
	$.ajax({
		url: url,
		cash: true,
		type: 'POST',
		async: true,
		success: function(html){
			//alert(html);
			$("#id_popup_info").html('');
			$("#id_popup_info").html(html);
		}
	})
	
	
}
//====================================================================================================================================================	
	
	
	
	
	
	
</script>
{% endblock %}
