{% extends 'base_private.html' %}

{% block extrahead %}
    {{ block.super }}
    <link href="{{ MEDIA_URL }}css/modal.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block acc_main %}

<script>
	function view_zayavka(id, type)
	{
		$.ajax({
                url: "/account/demands_dc/view_"+type+"/"+id,
                cache: false,
				async: false,
				  
                success: function(html){
 					
                    $("#id_popup_"+type).html(html);
					  
                }  
            });
	}
	
	function configuration(id)
	{
		$.ajax({
                url: "/account/demands_dc/configuration/"+id+"/",
                cache: false,
				async: false,
				  
                success: function(html){
 					
                    $("#configuration_popup").html(html);
					  
                }  
            });
	}
</script>

{{ block.super }}




<a href="#" class="overlay" id="zayavka"></a>
<div class="popup_personal">
    <a class="popup_personal-close" href="#close"></a>
    <div id="id_popup_zayavka">
    </div>
</div>

<a href="#" class="overlay" id="zakaz"></a>
<div class="popup_personal">
    <a class="popup_personal-close" href="#close"></a>
    <div id="id_popup_zakaz">
    </div>
</div>

<a href="#" class="overlay" id="configuration"></a>
<div class="popup_personal">
    <a class="popup_personal-close" href="#close"></a>
    <div id="configuration_popup">
    </div>
</div>

<h1 class="title">Мои действующие услуги</h1>

{% if check_zakazy == 'true' %}
    <div class="status status-info">
        <i class="ico"></i>
        <div class="status-i">
            <p>У Вас нет действующих услуг.</p>
        </div>
    </div>
{% else %}
     <table class="type-5">
        <thead>
            <tr>
                <th width="3%">Номер заказа</th>
                <th width="20%">Наименование услуги</th>
                <!--th width="18%">Конфигурация</th-->
                <th>Дата заказа</th>
                <th width="14%">Стоимость услуги, руб</th>
                <th width="16%">Статус услуги</th>
                <th width="16%">Деактивация услуги</th>
            </tr>
        </thead>
        <tbody>
            {% for j in zakazy %}
                <tr class="zakaz">
                    <td>
                    	<div class="div_number">{{ j.id }}</div>
                    	<button><a href="#zakaz" onclick="view_zayavka('{{ j.id }}', 'zakaz')">редактировать</a></button>
                    </td>
                    <td><a href="#zakaz" onclick="view_zayavka({{ j.id }}, 'zakaz')">{{ j.service|safe }}</a></td>
        			<!--td></td-->
        			<!-- a href="#configuration" onclick="configuration('{{ j.id }}')">Изменить</a-->
        			
                    <td>{{ j.date_activation }}</td>
                    <td>{{ j.cost }}</td>
                    {% if j.date_deactivation %}
                        <td style="text-align:left"><i class="valid"></i><font color="#00CC00" style="vertical-align: top; margin-left: 2px;">{{ j.status_zakaza }} до {{ j.date_deactivation }}</font></td> 
                        <td><i class="not_valid"></i><font color="#FF0000" style="vertical-align: top; margin-left: 2px;">Недоступна</font></td>
                    {% else %}
                        <td style="text-align:left"><i class="valid"></i><font color="#00CC00" style="vertical-align: top; margin-left: 2px;">{{ j.status_zakaza }}</font></td>
                        <td><a href="/account/demands_dc/zakaz/{{ j.id }}/" style = "color:orange">Деактивация</a></td>
                    {% endif %}
                </tr>
                {% for k in pod_zakazy %}
                    {% if k.main_zakaz == j.id %}
                        <tr>
                            <td></td>
                            <td>{{ k.service|safe }}</td>
                            <!--td></td-->
                            <td>{{ k.date_activation }}</td>
                            <td>{{ k.cost }}</td>
                            {% if k.date_deactivation %}
                                <td style="text-align:left"><i class="valid"></i><font color="#00CC00" style="vertical-align: top; margin-left: 2px;">{{ k.status_zakaza }}<br />до {{ k.date_deactivation }}</font></td> 
                                <td><i class="not_valid"></i><font color="#FF0000" style="vertical-align: top; margin-left: 2px;">Недоступна</font></td>
                            {% else %}
                                <td style="text-align:left"><i class="valid"></i><font color="#00CC00" style="vertical-align: top; margin-left: 2px;">{{ k.status_zakaza }}</font></td>
                                {% if not k.deactivation %}
                                	<td><i class="not_valid"></i><font color="#FF0000" style="vertical-align: top; margin-left: 2px;">Недоступна</font></td>
                                {% else %}
	                                <td><a href="zakaz/{{ k.id }}/" style = "color:orange">Деактивация</a></td>
                           		{% endif %}
                            {% endif %}
                        </tr>
                    {% endif %}
                 {% endfor %}  
             {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}




