{% extends 'base_private.html' %}
{% block content %}

<h1 class="title">{{ title }}</h1>

<div class="start-box">
    <ul class="start-buttons">
        <li class="start-button start-tel"><a href="/account/"><i></i><span>Телефония</span></a></li>
        <li class="start-button start-internet"><a href="/account/internet/demands/"><i></i><span>Интернет</span></a></li>
        <li class="start-button start-centre"><a href="/account/demands_dc/"><i></i><span>Дата-центр</span></a></li>
    </ul>
</div>

{% endblock %}



