{% extends 'base_public.html' %}
{% load i18n form_tags lib_tags %}






{% block accordeon %}
  	
	
  	<script>
  		//$(".main").attr('style', 'border-right:none!important')
  	</script>
  	
  	
  	<style> 
		.ac-container .article {
	  	/*border-right: 1px solid #34495e!important; */
	  	width:976px!important;
	 	}
	</style>
  	
  	
  		
  	 <div>
  	<!-- 1страница -->	
  	{% if not config_page %} <!-- если не адрес выбора конфигурации(далее добавить и оформл. заказа) то показываем просто инфу-->
      	<input id="ac-1" name="accordion-1" type="radio" checked="true"  />  <!-- показываем страницу инфа -->
      {% else %}
      	<input id="ac-1" name="accordion-1" type="radio" onclick = "change_url_js(1)" /> <!-- переход на 1 страницу -->
      {% endif %}
      <label for="ac-1"><img src="{{ MEDIA_URL }}pictures/step1с.png"></label>


      <div class="article" id="1">  
      		<div class = "help_article">
      			<span style="font-size: 25px; margin-bottom:30px; display:block">Как подключить услугу аренда виртуального сервера с предустановленной 1С</span> 
      			<br> 
      			<p>Подключая услугу аренда виртуального сервера с предустановленной 1С вы получаете доступный для работы 24 часа в сутки сервер с уже
      			 установленным программным обеспечением. Установленный софт полностью готов к работе.
      			</p>
      			<br>
      			<p>Для того, чтобы подключить услугу вам необходимо:</p>
	      			<ol style = "list-style-type: decimal!important;">
	      				<li>Выбрать <b>тип программного обеспечения</b>, которое необходимо установить. Чтобы произвести выбор необходимо перейти на главную страницу
	      					сайта (Шаг 1.). Нажмите на кнопку <b>далее</b>.
	      				</li>
	      				
	      				<li>
	      					Выбрать <b>конфигурацию програмнного обеспечения</b>. a)Отметьте флажок на том пункте который нужен.	Если у программного обеспечения 
	      					есть несколько различных версий  - отметьте флажок, после чего нажмите радиокнопку соответствующую нужной версии.
	      					б)Выбирите также количество человек, которые будут работать с системой.
	      					в)Нажмите кнопку <b>далее</b>.	    				
	      				</li>
	      				<img src = "{{ MEDIA_URL }}pictures/helpstep2.png"> </img>
	      				
	      				<li>
	      					Подтвердить <b>формирование заказа</b>.
	      					<ul>
	      						<li>
		      					Если вы <b>не зарегестрированы</b> в системе:а) введите <b>адрес электронной почты</b>,
		      					на который вам будет выслано письмо с инструкциями, необходимыми для завершения регистрации. б) нажмите кнопку <b>далее</b>.
		      					После прохождения по ссылке  в письме заказ создастся 
		      					автоматически.
		      					</li>
		      					
		      					<img src = "{{ MEDIA_URL }}pictures/helpstep3_1.png" ></img>
	      						
	      						<li>
		      					Если вы <b>зарегестрированы</b> в системе:а) нажмите на радиокнопку <b>Авторизоваться в системе</b> 
		      					б) введите <b>логин</b> и <b>пароль</b>
		      				    в) нажмите кнопку <b>далее</b>.
		      					</li>
	      						
	      						<img src = "{{ MEDIA_URL }}pictures/helpstep3_2.png" ></img>
	      						
	      						<li>
	      						Если вы <b>авторизованы </b>в системе. Нажмите кнопку <b>Далее</b>
	      						<img src = "{{ MEDIA_URL }}pictures/helpstep3_3.png" ></img>
	      						</li>
	      					</ul>
	      					
	      					
	      					
	      				</li>
	      				
	      				
	      			</ol>
	      			
      		</div>
      </div>
      		
      		
{% endblock %}